@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-50: #edecf1;
  --color-primary-100: #dbdae4;
  --color-primary-200: #b7b5c9;
  --color-primary-300: #928fad;
  --color-primary-400: #6e6a92;
  --color-primary-500: #4a4577;
  --color-primary-600: #3b375f;
  --color-primary-700: #2c2947;
  --color-primary-800: #1e1c30;
  --color-primary-900: #0f0e18;

  --color-secondary-50: #fafbed;
  --color-secondary-100: #f5f7dc;
  --color-secondary-200: #ecf0b8;
  --color-secondary-300: #e2e895;
  --color-secondary-400: #d9e171;
  --color-secondary-500: #cfd94e;
  --color-secondary-600: #a6ae3e;
  --color-secondary-700: #7c822f;
  --color-secondary-800: #53571f;
  --color-secondary-900: #292b10;

  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-400: #9ca3af;
  --color-neutral-600: #4b5563;
  --color-neutral-800: #1f2937;

  --color-success: #14b8a6;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #7348ea;

  --font-instrument-sans: "Instrument Sans", sans-serif;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

.form-select {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==");
  background-size: 0.7rem;
  background-position: right 0.7rem center;
}
