@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400 700; /* Defines weight range */
  font-display: swap;
  src: url("/fonts/OpenSans-VariableFont.woff2") format("woff2");
}

@theme {
  --color-primary-50: #edecf1;
  --color-primary-100: #dbdae4;
  --color-primary-200: #b7b5c9;
  --color-primary-300: #928fad;
  --color-primary-400: #6e6a92;
  --color-primary-500: #4a4577;
  --color-primary-600: #3b375f;
  --color-primary-700: #2c2947;
  --color-primary-800: #1e1c30;
  --color-primary-900: #0f0e18;

  --color-secondary-50: #fafbed;
  --color-secondary-100: #f5f7dc;
  --color-secondary-200: #ecf0b8;
  --color-secondary-300: #e2e895;
  --color-secondary-400: #d9e171;
  --color-secondary-500: #cfd94e;
  --color-secondary-600: #a6ae3e;
  --color-secondary-700: #7c822f;
  --color-secondary-800: #53571f;
  --color-secondary-900: #292b10;

  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-400: #9ca3af;
  --color-neutral-600: #4b5563;
  --color-neutral-800: #1f2937;

  --color-success: #14b8a6;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #7348ea;

  --font-roboto: "Roboto", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
}
