@import "tailwindcss";

.bg-primary-600 {
  background-color: #4015b7;
}

.hover\:bg-primary-700:hover {
  background-color: #301089;
}

.shadow-primary-500\/30 {
  --tw-shadow-color: #501be4;
  box-shadow: var(--tw-shadow-color) 0 10px 15px -3px,
    var(--tw-shadow-color) 0 4px 6px -4px;
  opacity: 0.3;
}

.bg-primary-300 {
  background-color: #9676ef;
}

.text-white\/80 {
  color: rgba(255, 255, 255, 0.8);
}

/* Secondary Button */
.bg-secondary-500 {
  background-color: #14b8a6;
}

.hover\:bg-secondary-600:hover {
  background-color: #0d9488;
}

.shadow-secondary-500\/30 {
  --tw-shadow-color: #14b8a6;
  box-shadow: var(--tw-shadow-color) 0 10px 15px -3px,
    var(--tw-shadow-color) 0 4px 6px -4px;
  opacity: 0.3;
}

.bg-secondary-200 {
  background-color: #99f6e4;
}

.text-secondary-900\/80 {
  color: rgba(19, 78, 74, 0.8);
}

.border-primary-400 {
  border-color: #7348ea;
}

.text-primary-600 {
  color: #4015b7;
}

.hover\:bg-primary-50:hover {
  background-color: #eee8fc;
}

.text-primary-950 {
  color: #0b0420;
}

.text-primary-900 {
  color: #10052e;
}

.text-neutral-600 {
  color: #4b5563;
}

.text-neutral-400 {
  color: #9ca3af;
}

.text-primary-600 {
  color: #4015b7;
}

.hover\:text-secondary-500:hover {
  color: #14b8a6;
}

.bg-neutral-50 {
  background-color: #f9fafb;
}

.border-neutral-200 {
  border-color: #e5e7eb;
}

.hover\:border-primary-200:hover {
  border-color: #b9a4f4;
}

.bg-primary-900 {
  background-color: #10052e;
}

.bg-neutral-100 {
  background-color: #f3f4f6;
}

.border-neutral-200 {
  border-color: #e5e7eb;
}

.placeholder-neutral-400::placeholder {
  color: #9ca3af;
}

.focus\:border-primary-400:focus {
  border-color: #7348ea;
}

.focus\:ring-primary-100:focus {
  --tw-ring-color: #dcd1fa;
  box-shadow: 0 0 0 4px var(--tw-ring-color);
}

.checked\:bg-primary-600:checked {
  background-color: #4015b7;
}

.bg-success\/10 {
  background-color: rgba(20, 184, 166, 0.1);
}

.text-success {
  color: #14b8a6;
}

.text-error {
  color: #ef4444;
}

.bg-warning\/10 {
  background-color: rgba(245, 158, 11, 0.1);
}

.text-warning {
  color: #f59e0b;
}
